<% var userName = user.escape('name') %>

<div class="form-group has-feedback <%= userName ? 'has-success' : null %>">
  <label for="full_name">Full Name</label>
  <input id="full_name" class="form-control user-field" type="text" name="name" value="<%= userName%>">
  <span class="glyphicon glyphicon-ok form-control-feedback <%= userName ? null : 'no-show' %>"></span>
</div>

<% var userCountry = user.commonApp().escape('nationality') %>
<div class="form-group has-feedback <%= userCountry ? 'has-success' : null %>">
  <label for="nationality">Nationality</label>
  <select id="nationality" name="nationality" class="common-app-field form-control chosen-select"> 
    <% _.each(Atlas.countries, function(country){ %>
      <option value="<%= country[1] %>" <%= userCountry === country[1] ? 'selected' : null %> ><%= country[0] %></option>
    <% }) %>
  </select>
  
  <span class="glyphicon glyphicon-ok form-control-feedback <%= userCountry ? null : 'no-show' %>"></span>

</div>

<% var userCity = user.commonApp().escape('current_city') %>
<div class="form-group has-feedback <%= userCity ? 'has-success' : null %>">
  <label for="full_name">What city do you live in now?</label>
  <input id="full_name" class="form-control common-app-field" type="text" name="current_city" placeholder="Enter your current city" value="<%= userCity %>">
  <span class="glyphicon glyphicon-ok form-control-feedback <%= userCity ? null : 'no-show' %>"></span>
</div>


<% var gradYear = user.commonApp().escape('grad_year') %>
<div class="form-group has-feedback <%= gradYear ? 'has-success' : null %>">
  <label for="grad_year">When did you graduate?</label>
  <select id="grad_year" name="grad_year" class="common-app-field form-control chosen-select"> 
    <% _.each(Atlas.gradOptions, function(year){ %>
      <option value="<%= year %>" <%= gradYear === year ? 'selected' : null %> ><%= year %></option>
    <% }) %>
  </select>
  <span class="glyphicon glyphicon-ok form-control-feedback <%= gradYear ? null : 'no-show' %>"></span>
</div>

<% var resume = user.commonApp().get('resume').url %>
<div class="form-group">
  <label class="d-block">Upload your resume</label>
  <% if (resume) { %>
    <p class="alert alert-success">
    You have uploaded your resume! You can view it <a href="<%= resume %>">here</a>, or upload another one below.</p>
  <% } %>
  <input class="file-upload" type="file" name="common_app[resume]">
</div>