<% provide(:title, " Edit this job") %>

  <div class="row">
	  <div class="span6">
	  	<h2> Job: <%= @job.job_title  %></h2>
	  	<p> <%= @job.job_summary %> </p>
	  </div>
	  <div class="span6">
	  	<h2> Applicant: <%= @user.name  %></h2>
	  </div>

	  <div class="span12">
	  	<h3>Edit your job application below.</h3>
	  </div>
  </div>


<%= form_for [@job, @application] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 

   <%= f.fields_for :answers do |question_field| %>
        <%= question_field.label question_field %>
        <%= question_field.text_area :content  %>
   <% end %>


   <%= f.submit "Submit the application", class: "button" %>
<% end %>
