<% provide(:title, " Apply to this job") %>

  <div class="row">
	  <div class="span6">
	  	<h2> Job: <%= @job.job_title  %></h2>
	  	<p> <%= @job.job_summary %> </p>
	  </div>
	  <div class="span6">
	  	<h2> Applicant: <%= @user.name  %></h2>
	  </div>

	  <div class="span12">
	  	<h3>You're almost done! Answer the questions below and you'll be applied to the job.</h3>
	  </div>
  </div>

<%= form_for [@job, @application]  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
     <%= f.fields_for :questions do |q| %>
           <%= q.label :content %>
           
           <%= q.fields_for :answer do |a| %>
                    <%= a.text_area :content %>
           <% end %>
     <% end %>
      <%= f.submit "Submit the application", class: "button" %>
<% end %>




