<% var idealSalary = user.commonApp().escape('ideal_salary') %>

<div class="form-group has-feedback <%= idealSalary ? 'has-success' : null %>">
  <label for="ideal_salary">How much of your determination is based on Salary?</label>
  <select id="ideal_salary" name="ideal_salary" class="common-app-field form-control chosen-select"> 
    <% _.each(Atlas.salaryOptions, function(salary){ %>
      <option value="<%= salary %>" <%= idealSalary === _.escape(salary) ? 'selected' : null %> ><%= salary %></option>
    <% }) %>
  </select>
  <span class="glyphicon glyphicon-ok form-control-feedback <%= idealSalary ? null : 'no-show' %>"></span>
</div>

<% var jobInterest = user.commonApp().escape('job_interest') %>

<div class="form-group has-feedback <%= jobInterest ? 'has-success' : null %>">
  <label for="job_interest">What's your interest in new jobs right now?</label>
  <select id="job_interest" name="job_interest" class="common-app-field form-control chosen-select"> 
    <% _.each(Atlas.jobInterests, function(interest){ %>
      <option value="<%= interest %>" <%= jobInterest === _.escape(interest) ? 'selected' : null %> ><%= interest %></option>
    <% }) %>
  </select>
  <span class="glyphicon glyphicon-ok form-control-feedback <%= jobInterest ? null : 'no-show' %>"></span>
</div>

<% var chinaGoals = user.commonApp().escape('china_goals') %>
<div class="form-group has-feedback <%= chinaGoals ? 'has-success' : null %>">
  <label for="china_goals">What's the most important thing you want out of your time in the china workforce?</label>
  <textarea id="china_goals" name="china_goals" class="form-control common-app-field"><%= chinaGoals %></textarea>
  <span class="glyphicon glyphicon-ok form-control-feedback <%= chinaGoals ? null : 'no-show' %>"></span>
</div>