<% var bonus = user.commonApp().escape('bonus_question') %>

<div class="form-group has-feedback <%= bonus ? 'has-success' : null %>">
  <label for="bonus_question"><strong>Pick The Question that allows you to present yourself the best</strong></label> 
  <% var bonusChoice = user.commonApp().escape('bonus_choice') %>
  <select id="bonus_choice" name="bonus_choice" class="common-app-field form-control chosen-select"> 
    <% _.each(Atlas.bonusChoices, function(choice){ %>
      <option value="<%= choice %>" <%= bonusChoice === _.escape(choice) ? 'selected' : null %> >
        <%= choice %>
      </option>
    <% }) %>
  </select>
  <textarea id="bonus_question" class="form-control common-app-field" type="text" name="bonus_question"><%= bonus %></textarea>
  <span class="glyphicon glyphicon-ok form-control-feedback <%= bonus ? null : 'no-show' %>" ></span>
</div>