<div class="col-sm-12 col-md-9">
  <div class="title">
    <h3><%= user.escape('name') %>
      <a href="mailto:<%= user.escape('email')%>" ><%= user.escape('email')%></a>
      <% if ( user.get('sourced') ) { %>
        <span class="sourced">(sourced)</span>
      <% } %>
    </h3>
  </div><!-- title-->
</div><!--col-sm-12-->
<div class="col-sm-12 col-md-3">
    <a href="<%= Atlas.url %>users/<%= user.id %>" class="btn btn-danger">
      <span class="glyphicon glyphicon-pencil"></span></a>
    <% var resumeUrl = user.commonApp().escape('resume_url')   %>
    <% if (resumeUrl) { %>
        <a href="<%= user.commonApp().escape('resume_url')  %>" class="btn btn-danger">
          <span class="glyphicon glyphicon-paperclip"></span></a>
    <% } %>
    <a href="<%= user.id %>/reset_token" class="btn btn-danger"><span class="glyphicon glyphicon-retweet"></span></a>
    <a href="<%= user.get('admin_link') %>" class="btn btn-danger"><span class="glyphicon glyphicon-link"></span></a>
  </div>
</div><!--buttons on right-->