<div class="admin-profile-header clearfix">
</div><!--header-->

<% var videoCode = user.video().get('video_uuid'); %>
<% if (videoCode) { %>
  <div class="col-md-3 col-lg-2 profile-video">
    <video id='video-<%= user.id %>' data-uuid='<%= videoCode %>'></video>
  </div>
<% } %>
  
<div class="col-sm-12 col-md-4">
  <div class="admin-profile-answer">
  </div><!--admin-profile-answer-->
</div>

<div class="<%= videoCode ? 'col-md-7 col-lg-6' : 'col-md-7 col-md-offset-1' %>">
  <% var adminNote = user.escape('admin_note'); %>
  <div class="admin-note">
    <div class="form-group">
      <label for="admin_note" class="glyphicon glyphicon-pencil admin-note-icon"></label>
      <textarea name="admin_note" id="admin_note"
        class="user-info-field form-control admin-note" placeholder="Admin Notes"><%= adminNote %></textarea>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="row">
  <hr>
  <div class="col-sm-12 col-md-6">
    <label>Job Interest</label>
    <p><%= user.commonApp().escape('job_interest') %></p>
    <label>Salary Determination</label>
    <p><%= user.commonApp().escape('ideal_salary') %></p>
    <label>China Work Force Goals</label>
    <p><%= user.commonApp().escape('ideal_salary') %></p>
  </div>
  <div class="col-sm-12 col-md-6">
    <label><%= user.commonApp().escape('bonus_choice') || 'Bonus question not chosen' %></label>
    <p><%= user.commonApp().escape('ideal_salary') %></p>
  </div>
  </div> 
</div>
<div class="col-sm-12">
  <div class="row">
    <hr>
    <div class="col-sm-12 col-md-6">
      <div class="applications">
        <table class="table">
          <tbody>
            <% if (user.jobApps().length === 0) { %>
              <h3 class="pagination-centered"> <%= user.escape('name') %> hasn't applied to any jobs.</h3>
            <% } %>
            <% user.jobApps().each(function(jobApp) { %>
              <tr>
                  <td><a href="<%= Atlas.url + 'applications/' + jobApp.id %>"><%= jobApp.escape('job_title') %></a></td>
              </tr>
             <% }) %>
          </tbody>
        </table>
      </div><!--applications-->
    </div><!--col-6-->
    <div class="col-sm-12 col-md-6">
      <div class="applications">
        <table class="table">
          <tbody>
            <% if (user.potentials().length === 0) { %>
              <h3 class="pagination-centered"> <%= user.escape('name') %> doesn't have any good fits'</h3>
            <% } %>
            <% user.jobApps().each(function(jobApp) { %>
              <tr>
                  <td><a href="<%= Atlas.url + 'applications/' + jobApp.id %>"><%= jobApp.escape('job_title') %></a></td>
              </tr>
             <% }) %>
          </tbody>
        </table>  
      </div><!-- applications -->
    </div><!--col 6-->
  </div><!--row-->
</div><!--col-12>