
<%= nested_form_for @job do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :job_title %>
  <%= f.text_field :job_title %>
  
  <div style="margin-left:30px">
	  <%= f.fields_for :bullets do |bullet_form| %>
	    <%= bullet_form.label :bullet %>
	    <%= bullet_form.text_field :bullet %>
	    <%= bullet_form.link_to_remove "Remove this bullet" %>
	  <% end %>
	  <p><%= f.link_to_add "Add a Bullet", :bullets %></p>
  </div>


  <%= f.label :job_summary %>
  <%= f.text_area :job_summary %>

  <%= f.label :qualifications %>
  <%= f.text_area :qualifications %>

  <div style="margin-left:30px">
	  <%= f.fields_for :roles do |role_form| %>
	    <%= role_form.label :role_title %>
	    <%= role_form.text_field :role_title %>
	    <%= role_form.label :role_desc %>
	    <%= role_form.text_field :role_desc %>
	    <%= role_form.link_to_remove "Remove this Role" %>
	  <% end %>
	  <p><%= f.link_to_add "Add a Role", :roles %></p>
  </div>

	<%= f.label "Choose which industries the job is in" %>

	<%= f.select :industry_ids, Industry.all.collect {|industry| [industry.name, industry.id]}, {}, :multiple => true, :class => "chosen-select" %>

	<%= f.label "Choose which cities you like" %>

	<%= f.select :city_ids, City.all.collect {|city| [city.name, city.id]}, {}, :multiple => true, :class => "chosen-select" %>

	<%= f.label "Choose which roles you like" %>

	<%= f.select :position_ids, Position.all.collect {|city| [city.name, city.id]}, {}, :multiple => true, :class => "chosen-select" %>


  <%= f.submit "Publish the Job", class: "button" %>
<% end %>
