<% var idealSalary = user.commonApp().escape('ideal_salary') %>

<div class="form-group has-feedback <%= idealSalary ? 'has-success' : null %>">
  <label for="ideal_salary">Ideal Salary</label>
  <select id="ideal_salary" name="ideal_salary" class="common-app-field form-control chosen-select"> 
    <% _.each(Atlas.salaryOptions, function(salary){ %>
      <option value="<%= salary %>" <%= idealSalary === salary ? 'selected' : null %> ><%= salary %> Yuan / Month</option>
    <% }) %>
  </select>
  <span class="glyphicon glyphicon-ok form-control-feedback <%= idealSalary ? null : 'no-show' %>"></span>
</div>

<% var prefCities = user.commonApp().get('cities') %>
<% var cityIds = _.map(prefCities, function(city) {
    return city.id
  }); %>
<div class="form-group has-feedback <%= prefCities ? 'has-success' : null %>">
  <label for="cities">Preferred Cities</label>
  <select id="cities" name="city_ids" class="common-app-field form-control chosen-select" multiple> 
    <% _.each(Atlas.cities, function(city){ %>
      <option value="<%= city.id %>" <%= _.contains(cityIds, city.id) ? 'selected' : null %> ><%= city.name %></option>
    <% }) %>
  </select>

  <span class="glyphicon glyphicon-ok form-control-feedback <%= prefCities ? null : 'no-show' %>"></span>
</div>

<% var prefIndustries = user.commonApp().get('industries') %>
<% var industryIds = _.map(prefIndustries, function(industry) {
    return industry.id
  }); %>

<div class="form-group has-feedback <%= prefIndustries ? 'has-success' : null %>">
  <label for="industries">Preferred Industries</label>
  <select id="industries" name="industry_ids" class="common-app-field form-control chosen-select" multiple> 
    <% _.each(Atlas.industries, function(industry){ %>
      <option value="<%= industry.id %>" <%= _.contains(industryIds, industry.id) ? 'selected' : null %> ><%= industry.name %></option>
    <% }) %>
  </select>
  
  <span class="glyphicon glyphicon-ok form-control-feedback <%= prefIndustries ? null : 'no-show' %>"></span>
</div>
