<li>Name : <%= current_user.name %></li>
<li>Email : <%= current_user.email %></li>
<li>Current City : <%= common_app.current_city %></li>
<li>Grad Year : <%= common_app.grad_year %></li>
<li>Read Type: <%= common_app.read_type %></li>
<li>Listen Speak : <%= common_app.listen_speak %></li>
<li>Time in China : <%= common_app.time_in_china %></li>
<li>Cover Letter: <%= common_app.cover_letter %></li>
