<li>Name : <%= @user.name %></li>
<li>Email : <%= @user.email %></li>
<li>Current City : <%= common_app.current_city %></li>
<li>Grad Year : <%= common_app.grad_year %></li>
<li>Read Type: <%= common_app.read_type %></li>
<li>Listen Speak : <%= common_app.listen_speak %></li>
<li>Time in China : <%= common_app.time_in_china %></li>
<li>Cover Letter: <%= common_app.cover_letter %></li>
<li>Resume: <%= link_to "Link to Resume", common_app.resume_url %></li>
<li>-------</li>


<li><%= "Industries:" unless common_app.industries.nil? %></li>

<% common_app.industries.each do |industry| %>
	<li> <%= industry.name %>
<% end %>

<li><%= "Preferrd Cities:" unless common_app.cities.nil? %></li>

<% common_app.cities.each do |city| %>
	<li> <%= city.name %>
<% end %>

<li><%= "Preferrd Roles:" unless common_app.positions.nil? %></li>

<% common_app.positions.each do |position| %>
	<li> <%= position.name %>
<% end %>
