<form action="admin/users" method="get">
  <div class="col-sm-2">
    <input class="form-control" type="text"
     name="name" placeholder="Enter a name here" value="<%= params[:name]%>">
  </div>
  <div class="col-sm-3">
    <select class="form-control chosen-select" name="city_ids[]" multiple data-placeholder="City">
      <option></option>
      <% City.all.each do |city| %>
        <option value="<%= city.id %>"<%= params[:city_ids] && params[:city_ids].include?(city.id.to_s) ? "selected" : nil %>>
          <%= city.name %>
        </option>
      <% end %>
    </select>
  </div>
  <div class="col-sm-3">
    <select class="form-control chosen-select" name="industry_ids[]" multiple data-placeholder="Industry">
      <option></option>
      <% Industry.all.each do |industry| %>
        <option value="<%= industry.id %>"<%= params[:industry_ids] && params[:industry_ids].include?(industry.id.to_s) ? "selected" : nil %>>
          <%= industry.name %>
        </option>
      <% end %>
    </select>
  </div>
  <div class="col-sm-2">
    <select class="form-control chosen-select" name="grad_year" data-placeholder="Grad Year">
      <option></option>
      <% CommonApp::GRAD_OPTIONS.each do |yr| %>
        <option value="<%= yr %>"<%= yr.to_s == params[:grad_year] ? "selected" : nil %>>
          <%= yr %>
        </option>
      <% end %>
    </select>
  </div>
  <div class="col-sm-1">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="checkbox" name="has_video"> Video?
      </label>
    </div>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-danger">Search</button>
  </div>
</form>