<div class="col-sm-12">
  <ul class="admin-candidate-lists">
    <% jobApps.each(function(app){ %>
      <% if (!shortlisted || app.get('shortlisted') == shortlisted) { %>
        <li>
          <div class="list-container">
            <div class="col-sm-4">
              <div class="candidate-info">
                <h3 class="heading"><a href="/admin/users/<%= app.get('user_id') %>"><%= app.get('user').name %></a></h3>
                <span class="content">
                  <%= app.get('user').common_app.industries %> 
                </span>
                <span class="content">
                  <span class="red"><%= app.get('user').common_app.current_city %></span>
                  <%= app.get('user').common_app.cities %>
                </span>
                <div class="candidate-icons">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="icon-bubble">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        <span class="red"><%= app.get('user').common_app.grad_year %></span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="icon-bubble">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span class="red"><%= app.get('user').common_app.has_video %></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="icon-bubble">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="red"><%= app.get('user').common_app.nationality %></span>
                      </div>
                    </div>
                  </div>
                </div><!--candidate icons-->
                <div class="status">
                  <% appStatus = app.get('status') %>
                  <div class="form-group has-feedback has-success">
                    <span class="glyphicon glyphicon-ok form-control-feedback no-show"></span>
                    <select id="status" name="status" class="form-control chosen-select" 
                    data-placeholder="Choose Status" data-app-id="<%= app.id %>"> 
                      <% _.each(AtlasJob.statusOptions, function(status){ %>
                        <option></option>
                        <option value="<%= status %>" <%= appStatus == status ? 'selected' : null %>>
                          <%= status %>
                        </option>
                      <% }); %>
                    </select>
                  </div>
                </div><!--status-->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= app.get('user').common_app.progress %>%"></div>
                </div>
              </div><!--candidate info-->
            </div><!--col-sm-4-->
            <div class="col-sm-8">
              <% if (!app.get('shortlisted')) { %>
                <a href="#" data-app-id="<%= app.id %>" class="shortlist atlas_button shortlist_button">Shortlist</a>
              <% } else { %>
               <a href="#" data-app-id="<%= app.id %>" class="shortlist active atlas_button shortlist_button">Shortlisted</a>
              <% } %>

              <% _.each(app.get('questions'), function(question){ %>
                <h3 class="heading"><%= question.question_title %></h3>
                <% if (question.video_uuid) { %>
                  <camera id="<%= question.id %>" data-uuid="<%= question.video_uuid %>"></camera>
                <% } %>

                <% if (question.answer_content) { %>
                  <p><%= question.answer_content %></p>
                <% } %>
              <%  }); %>

              <% if ( !!app.get('user').common_app.china_time) { %>
                <hr>
                <p><strong>In One Sentence, what career opportunities are you looking for right now?</strong></p>
                <p><%= app.get('user').common_app.china_time %></p>
              <% } %>
            </div><!--col-sm-8-->
          </div><!--list-container-->
        </li>
    <% }; %>
    <% }); %>
  </ul>
</div>